{% extends 'base.html' %}
{% block content %}
<style>
    body{
    background: #e9e8e8;
  }
    a:hover{
        color:#208454;
    }
    .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.card-container {
  display: grid;
 grid-template-columns: repeat(3, 400px);
  grid-gap: 25px 10px;
  width: 90%;
  align-self: center;
  margin-bottom:15px;
  margin-top:25px;
}


.music-card{
  box-sizing: border-box;
  width: 340px;
  height: 150px;
  border-radius: 15px;
  background: #242424;
  padding: 25px 20px;
  transition: 0.3s;
  box-shadow: 0px 5px 15px 2px rgba(89, 89, 104, 1);
}

.music-card > img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  float:left;
  margin-right:10px;
}

.text > h4 {
  font-size: 16px;
  margin-top:10px;
  color: white;
  width:310px;
  
}
.text > p {
  width: 330px;
  height: 15px;
  margin-top: 3px;
  font-size: 12px;
  color: white;
}

.music-card:hover {
  opacity: 0.93;
  cursor: pointer;
  box-shadow: 0px 5px 18px 4px rgba(89, 89, 104, 1)
}
.music-card > p{
    color:white;
    float: left;
    margin-right: 10px;
    font-weight: 500;
}
@media only screen and (max-width: 550px) {
  .card-container {
  display: grid;
 grid-template-columns: repeat(1, 300px);
  grid-gap: 25px 20px;
  width: 90%;
  align-self: center;
  margin-bottom:15px;
  margin-top:25px;
}
}
</style>
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Favourite Tracks</li>
    </ol>
  </nav>

<a href=""><button style="background:black !important; color:white !important;" class="btn  btn-outline-dark">Favourite Tracks</button></a>
<a href="{{url_for('favourite_artists', time_range='short_term')}}"><button class="btn  btn-outline-dark">Favourite Artists</button></a>
<hr>
{%if time_range == 'short_term'%}
<a href="{{url_for('favourite_tracks', time_range='short_term')}}"><button style="background:black !important; color:white !important;" class="btn btn-sm  btn-outline-dark">Last Month</button></a>
<a href="{{url_for('favourite_tracks', time_range='medium_term')}}"><button class="btn btn-sm btn-outline-dark">Last 6 Months</button></a>
<a href="{{url_for('favourite_tracks', time_range='long_term')}}"><button class="btn btn-sm btn-outline-dark">All Time</button></a>
{%elif time_range == 'medium_term'%}
<a href="{{url_for('favourite_tracks', time_range='short_term')}}"><button class="btn btn-sm btn-outline-dark">Last Month</button></a>
<a href="{{url_for('favourite_tracks', time_range='medium_term')}}"><button style="background:black !important; color:white !important;"class="btn btn-sm btn-outline-dark">Last 6 Months</button></a>
<a href="{{url_for('favourite_tracks', time_range='long_term')}}"><button class="btn btn-sm btn-outline-dark">All Time</button></a>
{%elif time_range == 'long_term'%}
<a href="{{url_for('favourite_tracks', time_range='short_term')}}"><button class="btn btn-sm btn-outline-dark">Last Month</button></a>
<a href="{{url_for('favourite_tracks', time_range='medium_term')}}"><button class="btn btn-sm btn-outline-dark">Last 6 Months</button></a>
<a href="{{url_for('favourite_tracks', time_range='long_term')}}"><button style="background:black !important; color:white !important;" class="btn btn-sm btn-outline-dark">All Time</button></a>
{%endif%}

<div class="wrapper">
    <div class="card-container">
      {%for track in tracks%}
      <div class="music-card"> 
        <p>{{track['position']}}.</p>      
        <img src="{{track['image']}}">
        <div class="text" style="width:335px;">
        <h4>{{track['name']}}</h4>
        <p>{{track['artists']}}</p>
      </div>
    </div>
    {%endfor%}
  </div>
  </div>

{% endblock %}