{% extends 'base.html' %}
{% block content %}
<style>


      body{
    background: #e9e8e8;
  }
    a:hover{
        color:#208454;
    }
    .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.card-container {
  display: grid;
 grid-template-columns: repeat(4, 300px);
  grid-gap: 25px 10px;
  width: 90%;
  align-self: center;
  margin-bottom:15px;
  margin-top:25px;
  overflow: scroll;
}


.music-card{
    box-sizing: border-box;
  width: 245px;
  height: 270px;
  border-radius: 15px;
  background: #242424;
  padding: 25px 20px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0px 5px 15px 2px rgba(89, 89, 104, 1);
}

.music-card > img {
  width: 175px;
  height: 175px;
  border-radius: 10px;
  background-size: center;
}

.music-card > h4 {
  font-size: 16px;
  margin: 10px 0px 5px;
  color: white;
}

.music-card:hover {
  opacity: 0.93;
  cursor: pointer;
  box-shadow: 0px 5px 18px 4px rgba(89, 89, 104, 1)
}
.music-card > p{
    color:white;
    float: left;
    margin-right: 6px;
    font-weight: 500;
}
#follow{
    width:200px;
    height:18px;
    margin:0;
    margin-top:5px;
    font-size:13px;
    overflow: hidden;
    opacity: 0.7;
}


@media only screen and (max-width: 550px) {
  .card-container {
  display: grid;
 grid-template-columns: repeat(1, 300px);
  grid-gap: 25px 10px;
  width: 100%;
  margin-bottom:15px;
  margin-left: 50px;
  margin-top:25px;
}
}
</style>
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Favourite Artists</li>
    </ol>
  </nav>

<a href="{{url_for('favourite_tracks', time_range='short_term')}}"><button class="btn  btn-outline-dark">Favourite Tracks</button></a>
<a><button class="btn  btn-outline-dark" style="background:black !important; color:white !important;">Favourite Artists</button></a>
<hr>
{%if time_range == 'short_term'%}
<a href="{{url_for('favourite_artists', time_range='short_term')}}"><button style="background:black !important; color:white !important;" class="btn btn-sm  btn-outline-dark">Last Month</button></a>
<a href="{{url_for('favourite_artists', time_range='medium_term')}}"><button class="btn btn-sm btn-outline-dark">Last 6 Months</button></a>
<a href="{{url_for('favourite_artists', time_range='long_term')}}"><button class="btn btn-sm btn-outline-dark">All Time</button></a>
{%elif time_range == 'medium_term'%}
<a href="{{url_for('favourite_artists', time_range='short_term')}}"><button class="btn btn-sm btn-outline-dark">Last Month</button></a>
<a href="{{url_for('favourite_artists', time_range='medium_term')}}"><button style="background:black !important; color:white !important;"class="btn btn-sm btn-outline-dark">Last 6 Months</button></a>
<a href="{{url_for('favourite_artists', time_range='long_term')}}"><button class="btn btn-sm btn-outline-dark">All Time</button></a>
{%elif time_range == 'long_term'%}
<a href="{{url_for('favourite_artists', time_range='short_term')}}"><button class="btn btn-sm btn-outline-dark">Last Month</button></a>
<a href="{{url_for('favourite_artists', time_range='medium_term')}}"><button class="btn btn-sm btn-outline-dark">Last 6 Months</button></a>
<a href="{{url_for('favourite_artists', time_range='long_term')}}"><button style="background:black !important; color:white !important;" class="btn btn-sm btn-outline-dark">All Time</button></a>
{%endif%}
<div class="wrapper">
    <div class="card-container">
      {%for artist in artists%}
      <div class="music-card">       
        <img src="{{artist['image']}}">
        <h4>{{artist['name']}}</h4>
        <p id="follow">followers: {{artist['followers']}}</p>   
    </div>
    {%endfor%}
  </div>
  </div>

{% endblock %}