{% extends 'base.html' %}
{% block content %}
<style>
       body{
    background: #e9e8e8;
  }
  p{
    margin-top:15px;
  margin-bottom:35px;
  font-weight: 350;
  }
  a:hover{
    color:#319464;
  }
  h1{
    margin-top:100px; 
    font-size: 50px;
  }
  #start{

background: linear-gradient(157deg, rgba(51,158,83,1) 0%, rgba(24,140,65,1) 56%) !important;
  transition: 0.3s !important;
}
#start:hover{
background: linear-gradient(157deg, rgba(51,162,85,1) 0%, rgba(25,154,71,1) 56%) !important;
}
input:checked{
    background-color:#319464 !important;
}
form{
  width:300px;
}
#box{
  width:500px;
}
@media only screen and (max-width: 550px) {
  h1{
    font-size: 30px;
  }
  form{
    width:200px;
  }
  #box{
    width:300px;
  }
}
</style>

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{url_for('playlists')}}">Playlists</a></li>
      <li class="breadcrumb-item active" aria-current="page">Playlist Generator</li>
    </ol>
  </nav>
<center><h1>Playlist Generator</h1>
<p>Create playlist based on your favourite songs, artists and genres. You can find generated playlists in your <a href="https://open.spotify.com" target="_blank">spotify account.</a></p>
</center>

<center>
<div class="shadow p-3 mb-5 bg-body rounded" id = "box">
    <form method="POST">
        {{ form.hidden_tag()}}
        {{ form.name.label(
            class="form-label ")}}
        {{ form.name(
            class="form-control")}}
        <br/>
        {{ form.hidden_tag()}}
        {{ form.songs.label(
            class="form-label ")}}
        {{ form.songs(
            class="form-control")}}
        <br/>
        {{ form.submit(class ="btn btn-success btn-md", id="start") }}
       
    </form> 
</div>
</center>




{% endblock %}